<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://portalwebtest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/3b3353c7-9fce-4e89-8648-36ad944d6303/resourceGroups/Teleportal-Demo/providers/Microsoft.Web/sites/portalwebtest</ResourceId>
    <UserName>$portalwebtest</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://portalwebtest.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>